* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .maincontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 40rem;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    border: red solid;
  }
  
  .lol {
    background-color: black;
  }
  .btn {
    height: 50px;
    width: 200px;
    border-radius: 20%;
  }
  